.jumbotron
  .container
    h1 {{book.title}}
    h3(ng-show='library') {{ library.name }}

.container
  .row
    .col-xs-12.col-md-7
      .col-md-3.hidden-xs.col-sm-2
        img.img-responsive.img-thumbnail(src='{{book.cover}}')
      .col-md-9.col-sm-10
        div
          span.text-muted(ng-repeat='genre in book.genres | limitTo:2')
            span {{genre | titleCase}}
            span(ng-show='!$last') , 
            span(ng-show='$last') &nbsp; / 
          span.text-info {{book.publisher}}
          span.text-info.pull-right {{ book.author }}
        div(ng-show='!showMore && !!book.description')
          p.text-justify {{ book.description | cut:true:400:'...'}}
          a(href='#', ng-click='showMore=!showMore') #{__("Show more")}
        div(ng-show='!!showMore && !!book.description')
          p.text-justify {{ book.description}}
          a(href='#', ng-click='showMore=!showMore') #{__("Show less")}

      .col-xs-12(ng-show='book.other')
        .panel.panel-primary(style='margin-top:2em', ng-show='!!showMore')
          .panel-body
            div.col-xs-5(ng-repeat='(key,value) in book.other')
              li
                span.text-success.text-bold {{ key | titleCase }} 
                span : {{ value }}
    .col-xs-12.col-sm-6.col-md-5
      .panel.panel-primary.text-center
        .panel-heading
          h4 #{__("Get the book")}
        .panel-body(ng-show='user')
          div(ng-hide='reservationEnd || !libraryID')
            a.btn.btn-success(style='margin-bottom: 0.25em', ng-show='!isMember && (libBook.available>bookings.length && libBook.available>0)', ng-href='/libraries/{{library._id}}') #{__("Subscribe to reserve")}
            button.btn.btn-success(style='margin-bottom: 0.25em', ng-click='addBooking()', ng-show='(libBook.available>bookings.length && libBook.available>0) && isMember', ng-confirm-click='#{__("Are you sure you want to reserve that book?")}').btn.btn-primary #{__("Reserve")}
            button(style='margin-top:0.5em', ng-hide='(libBook.available>bookings.length && libBook.available>0) || !isMember || subscribedForAvailability', ng-click='subscribeForAvailabilityNotification()').btn.btn-success #{__("Notify me when available")}
            button(style='margin-top:0.5em', ng-show='subscribedForAvailability && (libBook.available<=bookings.length || libBook.available===0)', ng-click='unsubscribeForAvailabilityNotification()').btn.btn-danger #{__("Don't notify when available")}

            span(ng-class="{ 'text-success': (libBook.available>bookings.length && libBook.available>0), 'text-danger': (libBook.available<bookings.length || libBook.available-bookings.length<1) }") &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{libBook.available-bookings.length}} / {{libBook.total}} #{__("available")}
          div(ng-show='reservationEnd', id='timerWrapper')
          button.btn.btn-danger(ng-show='booking', ng-click='removeBooking()', ng-confirm-click='Are you sure you want to cancel that reservation?') #{__("Cancel reservation")}

          div
            button.btn.btn-info(style='margin-right:0.5em', ng-show='book.ebookUrl', ng-click='downloadEbook()', href='#') #{__("Download ebook")}
            button.btn.btn-primary(style='margin:0.5em 0', ng-hide='isFavorite || !isMember', ng-click='addFavorite(book.title, book.isbn)') #{__("Add favorite book")}
            button.btn.btn-danger(style='margin:0.5em 0', ng-show='isFavorite && isMember', ng-click="removeFavorite()") #{__("Remove favorite book")}
            button.btn.btn-primary(style='margin-left:0.5em', ng-click='gotoOtherLibraries()') 
              span(ng-show='libraryID') #{__("Other")} 
              span(ng-hide='libraryID') #{__("At")}
              span  #{__("libraries")}

        .panel-body(ng-hide='user')
          h2
            a(href='/login') #{__("Log in")} 
            | #{__("or")}  
            a(href='/signup') #{__("Sign up")} 
            p #{__("to get the book!")}

  hr
  .row.text-center(id='other')
    h1 #{__("Libraries owning")} 
      span.text-bold {{book.title}}

    div(ng-repeat='library in libraries | orderBy: "name"')
      h3.col-xs-4
        a(ng-href='/book/{{book._id}}/{{library._id}}') {{library.name}}


  ui-gmap-google-map(center='map.center', zoom='map.zoom')
    ui-gmap-markers(models="randomMarkers", coords="'self'", icon="'icon'", options="'options'")