.tab-pane.fade#librarians

  .row
    .col-md-11.col-md-offset-1
      .col-md-8.col-md-offset-2

        div(ng-repeat='librarian in librarians')
          ng-form(name='librarianForm', novalidate)

            h3.text-center(style="margin-top:0.5em; margin-bottom:0", ng-class="{ 'text-success': (librarianForm.firstName.$valid), 'text-danger': (librarianForm.$invalid) }") #{__("Librarian profile")}

            .form-group(ng-class="{ 'has-success': (librarianForm.firstName.$valid && librarianForm.lastName.$valid), 'has-error': (librarianForm.firstName.$invalid || librarianForm.lastName.$invalid) }")
              label.control-label(for="first-name") #{__("Name")}
              .row
                .col-xs-6
                  input.form-control(name="firstName", type="text", placeholder="#{__('First Name')}", ng-model="librarian.firstName", required, on-focus)
                .col-xs-6
                  input.form-control(name="lastName", type="text", placeholder="#{__('Last Name')}", ng-model="librarian.lastName", required)
            .form-group(ng-class="{ 'has-error': (librarianForm.username.$invalid), 'has-success': (librarianForm.username.$valid) }")
              label.control-label(for="username") #{__("Username")}
              .row
                .col-xs-12
                  input.form-control(name="username", check-availability, type="text", placeholder="#{__('Username')}", tooltip-placement='left',  tooltip-trigger="focus", tooltip="Lowercase letters, digits, dots, hyphens and underscores. 3-16 characters", ng-model="librarian.username", ng-pattern="/^[a-z.0-9_-]{3,16}$/", required)
                  span.help-block(ng-show="librarianForm.username.$error.available")  #{__("Username already taken")}
            .form-group(ng-class="{ 'has-error': (librarianForm.email.$invalid), 'has-success': (librarianForm.email.$valid) }")
              label.control-label(for="email") #{__("Email")}
              .row
                .col-xs-12
                  input.form-control(name="email", check-availability, type="text", placeholder="#{__('Email')}", ng-model="librarian.email", ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z0-9]+[a-z0-9-]+[a-z0-9]+[.][a-z]{2,5}$/", required)
                  span.help-block(ng-show="librarianForm.email.$error.available") #{__("Email already taken")}
                  span.help-block(ng-show="librarianForm.email.$invalid && librarianForm.email.$dirty && !librarianForm.email.$error.available") #{__("Please enter valid email")}
            .form-group(ng-class="{ 'has-error': (librarianForm.password.$invalid), 'has-success': (librarianForm.password.$valid) }")
              label.control-label(for="password") #{__("Password")}
              .row
                .col-xs-12
                    input.form-control(name="password", type="password", placeholder="#{__('Password')}", tooltip-placement='left',  tooltip-trigger="focus", tooltip="Lowercase letters, digits, hyphens and underscores. 6-18 characters", ng-model="librarian.password", ng-pattern="/^[a-z0-9_-]{6,18}$/", required)
            .form-group(ng-class="{ 'has-error': (librarianForm.confirmPassword.$invalid), 'has-success': (librarianForm.confirmPassword.$valid) }")
              label.control-label(for="confirm-password") #{__("Confirm password")}
              .row
                .col-xs-12
                    input.form-control(name="confirmPassword", type="password", placeholder="#{__('Confirm password')}", ng-model="passwordConfirm", fields-match="librarian.password", required)
                    span.help-block(ng-show="librarianForm.confirmPassword.$error.fieldsMatch") #{__("These passwords don't match. Try again?")}

            .form-group.col-xs-6.text-center
              label.control-label.col-xs-offset-3(for="recaptcha") #{__("RECAPTCHA Challenge")} *
              .row.col-xs-offset-3
                div(name="recaptcha", re-captcha, ng-model="librarian.captcha")