.tab-pane.fade#library-books
  h2 #{__("Library books")}
  table.table.table-striped.table-bordered.table-wrapped
    tr
      th #{__("Book Name")}
      th #{__("Total Copies")} 
      th #{__("Copies Available")} 
      th #{__("Copies Given")}
      th #{__("Book Section")}
      th
    tr(ng-repeat='book in libraryBooks')
      td.col-md-4
        strong {{ book.bookName }}
      td {{ book.total }}
      td {{ book.available }}
      td {{ book.given }}
      td {{ library.librarySections.sectionsTheme[book.section] }}
      td
        a(ng-href='/book/{{book.bookID}}/{{library._id}}') #{__("Link")}