include ../panel

.container(ng-controller="LibraryInfoCtrl")
  h1.text-center #{__("Library")} 
    span.text-info '{{ library.name }}'



  ul.nav.nav-tabs(style='margin-bottom: 25px')
    li.active
      a(href='#about', data-toggle='tab', target='_self').active
        |  #{__("About")}
    li
      a(href='#library-books', data-toggle='tab', target='_self')
        | #{__("Books")}
    li
      a(href='#library-users', data-toggle='tab', target='_self')
        | #{__("Users")}
    li
      a(href='#working-schedule', data-toggle='tab', target='_self')
        | #{__("Working schedule")}

  #myTabContent.tab-content
    
    include ./about
    include ./books
    include ./users
    include ./schedule
      

  .row
    a.btn.btn-primary.pull-right(href='/library-panel/library-settings') #{__("Edit")}
  

