.jumbotron(ng-hide='text')
  .container
    h1 #{__("Advanced search!")}
    h2 #{__("Search by citation, cover or page from book")}

.container(ng-hide='text')

  .col-xs-12.col-sm-12.col-md-6
    form(name='uploadImage')
      h3 #{__("Upload cover or page from the book")}
      input.form-control(type='file', loading='loading', name='file', text='text', uploadError='uploadError', fileupload='file', ng-model='file', accept='image/*')
      p.text-danger(ng-show='uploadError')



  .col-xs-12.col-sm-12.col-md-6
    form(name='searchByText')
      h3 #{__("Search by citation")}
      textarea.form-control(ng-model='citation', placeholder='#{__("Enter words to search for...")}')
      button.btn.btn-primary.pull-right(style='margin-top:0.5em', ng-click='findBookByText()') #{__("Search")}

  h1.col-xs-6.col-xs-offset-4.text-info(ng-show='loading') #{__("Please wait")} 
    i.fa.fa-spinner.fa-pulse.text-warning
  h1.text-center.text-danger {{uploadError}}

.jumbotron(ng-show='text')
  .container
    h1 #{__("Book found!")}
    h2 #{__("Search Results:")}

.container(ng-show='text')
  div(ng-repeat='book in text')
      .row
        .col-xs-5.col-sm-3.col-md-3(style='margin-top: 3em')
          a(href='/book/{{ book._id }}')
            img.img-responsive.img-thumbnail(src='{{book.cover}}')
        .col-xs-7.col-sm-9.col-md-9(style='margin-top: 3em')
          a(href='/book/{{ book._id }}/{{library._id}}')
            h3(style='margin-top:0').text-info {{book.title | cut:true:35:'...'}}
          div
            span.text-bold #{__("Publisher")}: 
            span.text-info {{book.publisher}}
          div
            span.text-bold #{__("Author")}: 
            span.text-info {{ book.author }}
          div(ng-show='book.isbn')
            span.text-bold #{__("ISBN")}: 
            span {{ book.isbn }}
          div.text-highlight
            span.text-bold #{__("Highlight")}: 
            span.text-info ...
            span.text-info(ng-bind-html='book.description')
            span.text-info ...

