.container-fluid#welcome-container
  .jumbotron#welcome-section
    .row
      .col-xs-12
        .col-xs-10.col-xs-offset-1
          .text-center
             h1 #{__("Thousands of books")}
             h2
              | #{__("Just")}&nbsp;
              a(href="/catalog") #{__("1 click")}
              | &nbsp;#{__("away")}

        .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2.col-xs-12
          ui-select#search-header.navbar-left(ng-controller='SearchCtrl', name='result', ng-model='result.selected', ng-disabled='disabled', reset-search-input='false', on-select='goToResult($item)')
            ui-select-match(placeholder='#{__("Find your book")}') {{$select.selected.title}}
            ui-select-choices(repeat='result in results', refresh='search($select.search)', refresh-delay='0')
              div(ng-if='!$last')
                div
                  span(ng-bind-html='result.title | highlight: $select.search')
                  span (
                  span(ng-bind-html='result.author | highlight: $select.search')
                  span )
                small.text-muted.text-bold(ng-bind='ISBN: ')
                small.text-muted(ng-bind-html='result.isbn | highlight: $select.search')
              div.text-center.text-success(ng-if='$last')
                h4(style='margin:0', ng-bind='result.message')
                small.text-muted(ng-bind='"Showing first "')
                small.text-muted(ng-bind='results.length-1 + " results"')

        .row.text-center
          .btn-group.text-center(style='margin-top:0.5em')
            a(href="/advanced-search").text-center.btn.btn-primary.btn-lg #{__("Advanced search")}
            a(href="/libraries").text-center.btn.btn-info.btn-lg #{__("Explore libraries")}

.container-fluid.container-light(ng-hide='identity.currentUser')
  section.row
    .col-md-4.col-md-offset-2.col-sm-10.col-sm-offset-2.vcenter

      div
        h3
          b.text-warning.glyphicon.glyphicon-flash
          span.text-warning #{__("Find faster")}
        p #{__("From its quick loading speed, to its responsive design, everything about sCOOLbry has been optimized and engineered to get you to books and libraries, and get reading as quickly as possible.")}
   
      div
        h3
          b.text-warning.glyphicon.glyphicon-book
          span.text-warning #{__("Reserve instantly")}
        p #{__("With sCOOLbry you can reserve a book on the go and get it later from your favorite library, being sure it is there, waiting for you.")}
   
      div
        h3
          b.text-warning.glyphicon.glyphicon-search
          span.text-warning #{__("Search better")}
        p #{__("Using search should be as simple and comprehensive as possible. With sCOOLbry's text recognition technology you can simply take a picture of a book to find it.")}

      div(style='margin-top:3em; padding-bottom:3em').text-center
        a.btn.btn-warning.btn-large(href='/signup') #{__("Start your journey now!")}

    .col-md-4.col-md-offset-1.vcenter.hidden-xs.hidden-sm
      img(src='../../dist/images/book.jpg').img-responsive

.container-fluid.container-dark(ng-hide='identity.currentUser')
  section.row
    .col-md-4.col-md-offset-2.vcenter.hidden-sm.hidden-xs
      img(src='../../dist/images/phone.png').img-responsive

    .col-md-4.col-md-offset-1.vcenter.col-sm-10.col-sm-offset-2
      div
        h3
          b.text-info.glyphicon.glyphicon-flash
          span.text-info #{__("Digitize now")}
        p #{__("sCOOLbry offers inovative and modern management solutions for every library. Completely free. And it always will be.")}

      div
        h3
          b.text-info.glyphicon.glyphicon-book
          span.text-info #{__("Do it faster")}
        p #{__("Adding books to a library system is a slow and tedious process. But not with sCOOLbry! Import from external database, scan the ISBN or take a picture - the choice is yours!")}

      div
        h3
          b.text-info.glyphicon.glyphicon-search
          span.text-info #{__("Do it better")}
        p #{__("With sCOOLbry you can automatically collect taxes from your subscribers, manage fines and keep an eye on your books.")}

      div(style='margin-top:3em').text-center
        a.btn.btn-info.btn-large(href='/register-library') #{__("Digitize your library now!")}


.container(ng-show='identity.currentUser')
  .row
    .col-md-6
      .panel.panel-info
        .panel-heading.text-center #{__("Featured")}
        .panel-body(ng-include="'/partials/main/featured-libraries'")
    .col-md-6
      .panel.panel-info
        .panel-heading.text-center #{__("New")}
        .panel-body(ng-include="'/partials/main/new-libraries'")
