.jumbotron
  .container
    h1 #{__("Libraries")}

.container
  .row
    .col-md-10
      input.form-control(type="text", placeholder="Type to search in {{ libraries.length }} libraries...", ng-model="search", on-focus)
    .col-md-2
      select.form-control.nya-selectpicker(name="sort", ng-model="sort", tooltip="#{__('Sort by...')}")
        option(value="name") #{__("Name")}
        option(value="distance") #{__("Closest")}
        option(value="yearOfEstablishment") #{__("Year of establishment")}
  br
  table.table.table-hover.table-bordered(ng-class="{ 'table-wrapped': windowWidth>768 }", resize)
    thead
      tr
        th.text-center #{__("Name")}
        th.text-center #{__("Address")}
        th.text-center #{__("Year of establishment")}
    tbody
      tr(ng-repeat="library in libraries | filter: search | orderBy: sort")
        td
          a(href="/libraries/{{ library._id }}") {{ library.name }}
        td {{ library.address.formatted_address }}
        td.text-center {{ library.yearOfEstablishment }}