.tab-pane.fade#books(ng-controller='CatalogCtrl')
    .jumbotron
      .container
        h1 #{__("Books Catalog")}
        .row
          .col-md-7.col-xs-6
            label(for='phrase') #{__("Filter Phrase")}
            input.form-control(name='phrase', type='text', ng-model='phrase', ng-change='reloadBooks(); setPage(); pages();', placeholder='#{__("Phrase")}', style='width: 100%;')
          .col-md-3.col-xs-3
            label(for='criteria') #{__("Filter By")}
            select.form-control(name='criteria', ng-model='criteria', ng-change='reloadBooks(); setPage(); pages();')
              option(value='all') #{__("All")}
              option(value='title') #{__("Titles")}
              option(value='author') #{__("Authors")}
              option(value='themes') #{__("Themes")}
          .col-md-2.col-xs-3
            label(for='per-page') #{__("Items/page")}
            select.form-control(name='per-page', ng-model='perPage', ng-change='reloadBooks(); pages();')
              option(value='10') 10
              option(value='20') 20
              option(value='30') 30
              option(value='100') 100   
    .container
      .row
        .col-md-3
          .form-group
            label(for='field') #{__("Order By")}
            select.form-control(name='field', ng-model='field', ng-change='reloadBooks(); setPage(); pages();')
              option(value='title') #{__("Title")}
              option(value='author') #{__("Author")}
              option(value='published') #{__("Year")}
              option(value='themes') #{__("Themes")}
              option(value='uploaded') #{__("Date Added To sCOOLbry")}
          .form-group
            label(for='order') #{__("Order")}
            select.form-control(name='order', ng-model='order', ng-change='reloadBooks(); setPage(); pages();')
              option(value='asc') #{__("Ascending (A-Z)")}
              option(value='desc') #{__("Descending (Z-A)")}
        .col-md-9
          div(ng-repeat='book in books', ng-init='pages();')
            .row
              a(ng-href='/book/{{book.bookID._id}}/{{libraryID}}')
                img.img-responsive(fallback-src, ng-src='{{book.bookID.cover}}').col-md-2.col-sm-2.col-xs-3
              div.col-md-10.col-sm-10.col-xs-9
                a(ng-href='/book/{{book.bookID._id}}/{{libraryID}}')
                  h3.vcenter(style='margin:0.2em 0')
                    | {{book.bookID.title}} &nbsp;&nbsp;
                    span.badge.vcenter {{book.bookID.published | date:'MMM dd, yyyy'}}
                p
                  | by 
                  span.text-info {{book.bookID.author}}
                p.text-justify.hidden-xs {{ book.bookID.description | cut:true:250:'...'}}
            hr
          .pagination
              li(ng-repeat='i in range(pagesCount) track by $index')
                a(class='pageItem', href='#', ng-click='setPage($index+1, $event); reloadBooks();', id='page-{{ $index+1 }}') {{ $index+1 }}