.jumbotron
  .container
    h1 {{ library.name }}
    div(ng-show='!isLoggedIn')
      h3
        a(href='/login') #{__("Log in")}
        |  #{__("or")} 
        a(href='/signup') #{__("Sign up")}
        |  #{__("to subscribe")}

.container

  ul.nav.nav-tabs(style='margin-bottom: 25px')
    li.active
      a(href='#about', data-toggle='tab', target='_self').active
        | #{__("About")} 
    li
      a(href='#books', data-toggle='tab', target='_self')
        | #{__("Books")} 
    li(ng-show='isMember')
      a(href='#interactions', data-toggle='tab', target='_self')
        | #{__("My interactions")}

  #myTabContent.tab-content
     
    include ./about

    include ./books

    include ./interactions
