include ../../panel

.container
  h1.text-center #{__("Library")} 
    span.text-info '{{ library.name }}'


.container

  ul.nav.nav-tabs(style='margin-bottom: 25px')
    li.active
      a(href='#about', data-toggle='tab', target='_self').active
        | #{__("About")}
    li
      a(href='#library-books', data-toggle='tab', target='_self')
        | #{__("Books")}
    li
      a(href='#library-users', data-toggle='tab', target='_self')
        | #{__("Users")}
    li
      a(href='#working-schedule', data-toggle='tab', target='_self')
        | #{__("Working schedule")}

  #myTabContent.tab-content
    
    include ./about
    include ./books
    include ./users
    include ./schedule
      

  .row
    a.btn.btn-danger.pull-right(href='/admin/library/delete/{{ library._id }}' onclick='return window.confirm("Deleting a library" || "Are you sure that you want to delete this library?")') #{__("Delete")}   
    a.btn.btn-primary.pull-right(href='/admin/library/edit/{{ library._id }}', style='margin-right:0.25em') #{__("Edit")}
  

