.tab-pane.fade#readings
  h3
    | #{__("Readings")}

    accordion
      .row
        .col-xs-12(ng-repeat='readingItem in user.readings', style='margin-top: 10px;')
          div(ng-class="{ 'accordion-bg-success': !readingItem.reading.returnDate }") 
            accordion-group(is-open='readingItem.open', style='padding: 0px;')
              accordion-heading {{readingItem.book.title}}
                span(ng-hide='readingItem.reading.returnDate').pull-right #{__("Till")}&nbsp; {{readingItem.reading.endDate | date:'dd/MM/yyyy'}}
                span(ng-show='readingItem.reading.returnDate').pull-right.text-success #{__("Returned at")}&nbsp; {{readingItem.reading.returnDate | date:'dd/MM/yyyy'}}
              .row

                img.img-responsive.img-thumbnail.col-md-2.col-sm-3.col-xs-4.pull-left.text-center(fallback-src, ng-src='{{ readingItem.book.cover }}', err-src='assets/images/missing-cover1.png', style='margin: 0 0.5em;')
                .col-md-9.col-sm-8.col-xs-7
                  .row
                    a(ng-href='/book/{{book._id}}')
                      h3.vcenter(style='margin:0.2em 0')
                        | {{readingItem.book.title}} &nbsp;&nbsp;
                        span.badge.vcenter {{readingItem.book.published | date:'MMM dd, yyyy'}}
                    p
                      | #{__("by")} 
                      span.text-info {{readingItem.book.author}}
                    p.text-justify.hidden-xs {{ readingItem.book.description | cut:true:250:'...'}}

                    span.text-info #{__("Library")}: 
                    span {{ readingItem.reading.libraryName }}
                  .row
                    .col-md-12(style='padding: 0px;')
                      a.col-xs-8(style='padding:10px 0', ng-href='/book/{{ readingItem.reading.bookID }}/{{ readingItem.reading.libraryID }}')
                        | #{__("See more")}

  p(ng-hide='user.readings.length') #{__("No read books found.")}